@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #F5F2F0;
    height: 100vh;
}

.wrapper{
    padding: 0 90px;
}

/* Mobile Header */

.mobile-header-img img{
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: none;
}

.btn-mobileMenu{
    font-size: 27px;
    display: none;
}

/* Top Navigation */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    padding: 55px 0 30px 0;
}

.logo{
    margin-right: auto;
    z-index: 1;
}

.logo img{
    width: 100px;
}

.line{
    width: 400px;
    height: 2px;
    background-color: #000000;
}

.navigation li{
    display: inline-block;
    color: #808080;
    font-size: 15px;
    margin-left: 75px;
}

.navigation li.active{
    color: #000000;
    font-weight: 500;
}

/* Content */

.left-wrapper{
    width: 30vw;
}

.left-img{
    background: url("./images/main.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 30%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.content-wrapper{
    display: flex;
    justify-content: space-between;
}

.right-wrapper{
    width: 70vw;
}

.right-wrapper .row{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.heading h1{
    font-family: 'PT Serif', serif;
    line-height: 1;
}

.heading h1 p{
    -webkit-text-stroke:1px black;
    -webkit-text-fill-color:transparent;
    font-size: 120px;
}

.heading h1 div{
    display: flex;
    align-items: flex-end;
}

.heading h1 div span:nth-of-type(1){
    color: #333333;
    padding-left: 140px;
    font-size: 120px;
}

.heading h1 div span:nth-of-type(2){
    color: #828282;
    padding-left: 20px;
    font-weight: 400;
}

.social-links div img{
    height:15px;
}

.social-links div:not(:last-of-type) img{
    margin-bottom: 40px;
}

.row.btn-check{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.btn-check button{
    background: #333333;
    color: #ffffff;
    padding: 14px 70px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.our-services{
    position: absolute;
    bottom: 5%;
    left: 36%;
}

.services-wrapper div p{
    color: #828282;
}

.services-wrapper div{
    margin-bottom: 24px;
}

.services-wrapper div p{
    position: relative;
}

.services-wrapper div.active p{
    color: #000000;
    font-weight: 500;
}

.services-wrapper div.active p::before{
    background-color: #000000;
    width: 15px;
    height: 15px;
    left: -31px;
}

.services-wrapper div p::before{
    content: "";
    position: absolute;
    background: #828282;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: -29px;
    top: 6px;
}

.vertical-line{
    height: 112.5%;
    width: 1.5px;
    background-color: #828282;
    position: absolute;
    left: -24px;
    top: 10px;
}

.about-us{
    position: absolute;
    left: 56%;
    bottom: 0;
}

.about-us p i{
    font-size: 40px;
    color: #333333;
}

.about-us p:nth-of-type(2){
    margin: 13px 0 15px 0;
}

.about-us img{
    width: 390px;
    height: 155px;
    object-fit: cover;
    object-position: center;
}

.arrow{
    position: absolute;
    right: 5%;
    bottom: 10%;
}

.arrow img{
    height: 120px;
}

/* Media Queries */

@media screen and (max-width: 1080px){

    .wrapper{
        padding: 0 50px;
    }

    .line{
        width: 200px;
    }

    .navigation li{
        margin-left: 50px;
    }
    
    .left-wrapper{
        display: none;
    }

    .right-wrapper{
        width: 100vw;
    }

    .mobile-header-img img{
        display: block;
    }

    .our-services, .about-us, .arrow{
        position: initial;
    }

    .row-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 850px){

    .line{
        width: 180px;
    }

    .navigation li{
        margin-left: 30px;
    }
}

@media screen and (max-width: 768px){
    .line{
        display: none;
    }

    .heading h1 div span:nth-of-type(1){
        padding-left: 0;
        font-size: 100px;
    }

    .heading h1 p{
        font-size: 100px;
    }

    .arrow{
        display: none;
    }
        
}

@media screen and (max-width: 660px) {
    .row.btn-check{
        flex-direction: column;
        align-items: center;
    }
    .row-bottom{
        flex-direction: column;
        margin-top: 50px;
    }
}

@media screen and (max-width: 580px) {
    .navigation{
        display: none;
    }

    .btn-mobileMenu{
        display: block;
    }

    .right-wrapper .row{
        flex-direction: column;
    }

    .social-links{
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        width: 100%;
        margin-top: 25px;
    }
    
    .social-links div:not(:last-of-type) img{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .wrapper{
        padding: 0 10px;
    }

    .right-wrapper .row{
        align-items: center;
    }

    .heading h1 div span:nth-of-type(1){
        font-size: 50px;
    }

    .heading h1 div{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 8px;
    }

    .heading h1{
        display: flex;
        justify-content: center;
    }

    .heading h1 p{
        font-size: 50px;
    }

    .btn-check button {
        padding: 10px 30px;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
    }

    .about-us img {
        width: auto;
    }
        
}